<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative Test</title>

	<link href='/bower_components/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet">
	<link href='/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css'  rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="/bower_components/underscore/underscore-min.js"></script>

  </head>
  <body ng-app="app">
  	
  	<script src="/bower_components/angular/angular.js"></script>
  	<script src="/js/feedController.js"></script>
	<script src="/js/CommonService.js"></script>
	<script src="/js/PreviewService.js"></script>
		  	
  	<script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	
<div ng-controller="FeedCntrl">


 	<div class="navbar navbar-inverse navbar-fixed-top"
 		role="navigation" data-spy="affix" data-offset-top="200">
      <div class="title pull-left">
      	<h4>Creative | Add Product Feed </h4>
      </div>
      
      <div class="pull-right">
      	<a href="/?name={{ templateName }}" class='link'>Modify Template</a>
      	<a ng-click='preview()' class='link'>Preview</a>
	   	<a href='/list.html' class='link'>All Templates</a>
      </div>
     </div>


	<div class="container content" ng-show="error != null">
		<h4 style='color: red'>{{ error }}</h4>
	</div>
	 
 	<div class="row content" ng-show="error == null">
	
		<div class='col-md-3'></div>
		
		<div class='col-md-6'>
 			<div class='box' >
 				 <h4 class='sub-title'>Enter Test Feed</h4>

				<div style='padding: 20px 0px'>
					<div class='row' ng-repeat="field in fields">
			 			<div class='col-md-3'>
			 				<div class='prop-label'>{{ field.name }}</div>
			 			</div>
			 			<div class='col-md-7'>
			 				<div class='prop-value'>
			 					<input type='text' class='form-control' ng-model='field.value'>
			 				</div>
			 			</div>
			 			
					 </div>
				</div>
					

				 <div class="col-md-12" style='border-top: 1px solid #EEE; margin-top: 30px; padding-top: 20px'>
					<div class='col-md-4'></div>
					<div class="col-md-4">
	 				 	<button type="button" ng-disabled="saveButtName != 'Save'"
	 				 		class="btn btn-primary btn-block" ng-click="save()">
	 				 		{{ saveButtName }}
	 				 	</button>
	 				</div>
	 				<div class='col-md-4'></div>
				</div>
 			</div>
 		</div>

		<div class='col-md-3'></div>
 	</div>

</div>
	 
 
  </body>
  
</html>
  